<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/header :: header('Blogs')"></head>
<body>
    <div th:replace="fragment/navbar :: navbar"></div>
    <!-- start section journal -->
    <div id="journal-blog" class="text-left  paddsections">

        <div class="container">
            <div class="section-title text-center">
                <h2>My Blog</h2>
            </div>
        </div>

        <div class="container">
            <div class="journal-block">
                <div class="row">

                    <div th:each="post : ${posts}" class="col-lg-4 col-md-6">
                        <div class="journal-info mb-30">

                            <a href="blog-single.html"><img src="images/blog-post-1.jpg" class="img-responsive"
                                                            alt="img"/></a>

                            <div class="journal-txt">

                                <h4><a href="blog-single.html"></a><span th:text="${post.title}"/></h4>
                                <p class="separator">
                                </p>

                            </div>

                        </div>
                    </div>

                    <!--<div class="col-lg-4 col-md-6">-->
                        <!--<div class="journal-info mb-30">-->

                            <!--<a href="blog-single.html"><img src="images/blog-post-2.jpg" class="img-responsive"-->
                                                            <!--alt="img"/></a>-->

                            <!--<div class="journal-txt">-->

                                <!--<h4><a href="blog-single.html">WE'RE GONA MAKE DREAMS COMES</a></h4>-->
                                <!--<p class="separator">To an English person, it will seem like simplified English-->
                                <!--</p>-->

                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- End section journal -->
    <div th:replace="fragment/footer :: footer"></div>
</body>
</html>