<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/header :: header('Blog-Post')"/>
<body>
    <div th:replace="fragment/navbar :: navbar"></div>
    <!-- start section main content -->
    <div class="main-content paddsection">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="container-main single-main">
                            <div class="col-md-12">
                                <div class="block-main mb-30">
                                    <img src="images/blog-post-1.jpg" class="img-responsive" alt="reviews2"/>
                                    <div class="content-main single-post padDiv">
                                        <div class="journal-txt">
                                            <h4><span th:text="${postView.getTitle()}">World</span></h4>
                                        </div>
                                        <div class="post-meta">
                                            <ul class="list-unstyled mb-0">
                                                <li class="author">by:<a href="#">Dorian</a></li>
                                                <li class="date">date:<a href="#">March 31, 2017</a></li>
                                            </ul>
                                        </div>
                                        <p><span th:text="${postView.getBody()}">World</span></p>

                                        <blockquote>
                                            <span th:text="${postView.getQuote()}"></span><br/>
                                            <cite> –<span
                                                    th:text="${postView.getAuthor()}"></span></cite>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragment/footer :: footer"></div>
</body>
</html>