<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/header :: header('Blog-Post')"/>
<body>
    <div th:replace="fragment/navbar :: navbar"></div>
    <!-- start section main content -->
    <div class="main-content paddsection">
        <div class="container">

            <div class="row justify-content-between">
                <div class="">
                    <form th:action="@{/posts}" method="get" role="form"
                          class="">
                        <div class=" text-center">
                            <button type="submit" class=" nav-btn btn-sm"
                                    th:value="${postView.id}">Back
                            </button>
                        </div>
                    </form>
                </div>

                <div class="float-right ">
                    <form th:action="@{/}" method="get" role="form">
                        <div class=" text-center">
                            <button type="submit" class="nav-btn btn-sm">Home
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="container-main single-main">
                            <div class="col-md-12">
                                <div class="block-main mb-30">
                                    <img th:src="${'/images/' + postView.getImage()}" class="img-responsive"
                                         alt="reviews2"/>
                                    <div class="content-main single-post padDiv">
                                        <div class="journal-txt row justify-content-center">
                                            <h4><span th:text="${postView.getTitle()}"></span></h4>
                                        </div>
                                        <div class="post-meta row justify-content-center">
                                            <ul class="list-unstyled mb-0">
                                                <li class="author">by:<a href="#"><span
                                                        th:text="${postView.getUser().getUsername()}"></span></a></li>
                                                <li class="date">date:<a href="#">March 31, 2017</a></li>
                                            </ul>
                                        </div>
                                        <p><span th:text="${postView.getBody()}"></span></p>

                                        <blockquote>
                                            <span th:text="${postView.getQuote()}"></span><br/>
                                            <cite> –<span
                                                    th:text="${postView.getAuthor()}"></span></cite>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <form th:action="@{/posts/delete}" method="post" role="form" class="d-inline">
                <div class="col text-center">
                    <button type="submit" name="deleteId" class="btn btn-danger btn-sm"
                            th:value="${postView.id}">Delete
                    </button>
                </div>
            </form>
            <form th:action="@{/posts/edit/{id}(id=${postView.id})}" method="get" role="form" class="d-inline">
                <div class="col text-center">
                    <button type="submit" th:name="${editId}" class="btn btn-default btn-sm"
                            th:value="${postView.id}">Edit
                    </button>
                </div>
            </form>
            <div class="paddsection"></div>
            <div class="paddsection"></div>
        </div>
    </div>
    <div th:replace="fragment/footer :: footer"></div>
</body>
</html>