<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/header :: header('DWallace')"></head>

<body>
    <div th:replace="fragment/navbar :: navbar"></div>

    <!-- start section header -->
    <div id="header" class="home">

        <div class="float-right pt-3 pr-3">

            <div class="d-inline pl-3"><a href="https://www.youtube.com/watch?v=nuKpxuf8fHY"><i class="ion-social-youtube d-inline"></i> YouTube</a></div>
            <div class="d-inline pl-3"></div>
        <div class="d-inline pl-3"><a href="https://github.com/Git-Software-Services"><i class="ion-social-github"></i> Github</a></div>
            <div class="d-inline pl-3"></div>
        <div class="d-inline"><a href="https://www.linkedin.com/in/dorian-wallace/"><i class="ion-social-linkedin d-inline"></i> LinkedIn</a></div>

        </div>

    </div>
        <!-- End section header -->


        <!-- start section about me-->
        <div id="about" class="">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <p class="p-heading dorianBubble1 dorianBubble1::after"><span class="typed"></span></p>
                        <div class="div-img-bg">
                            <div class="about-img">
                                <img th:src="@{~/img/cartoonme.png}" class="img-responsive" alt="me"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <div class="about-descr">
                            <p class=" p-heading dorianBubble dorianBubble::after"> When you're passionate about what you do, whatever that is, you do it better. Simply put –Software development is my passion.</p>
                            <p class="p-heading dorianBubble dorianBubble::after">Combining logic and design to communicate ideas to the world is something I've always wanted to do.</p>
                            <p class="p-heading dorianBubble dorianBubble::after float-left"> ...and now I'm doing it!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="downOptional downCenter"><a href="#notes">Next</a>
            <div class="arrow arrow::after"></div>
        </div>

        <!--start section journal-->
        <div id="notes" class=" text-center">
            <h2 class="mb-30">OPTIONS</h2>
            <hr/>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info note-bg">
                            <a th:href="@{/resume}"><img th:src="@{~/img/glasses.png}"
                                                         class="img-responsive text-center"
                                                         alt="me"/></a>
                            <div class="journal-txt">
                                <h3 class="text-center"><a th:href="@{/resume}">Resume</a></h3>
                                <p class="separator">Check out my past experiences
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info note-bg">

                            <a th:href="@{/posts}"><img th:src="@{~/img/mug.png}" class="img-responsive"
                                                        alt="me"/></a>

                            <div class="journal-txt">
                                <h3 class="text-center"><a th:href="@{/posts}">Notes</a></h3>
                                <p class="separator">Just a few notes I've jotted down...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info note-bg">
                            <a th:href="@{/portfolio}"><img th:src="@{~/img/old-computer.png}"
                                                            class="img-responsive"
                                                            alt="me"/></a>

                            <div class="journal-txt">

                                <h3 class=" text-center"><a th:href="@{/portfolio}">Projects</a></h3>
                                <p class="separator">Check out my latest projects
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="downOptional downCenter"><a href="#contact">Contact</a>-->
            <!--<div class="arrow arrow::after"></div>-->
        <!--</div>-->
        <!--End section journal-->


        <!-- start section contact -->
        <div id="contact" class="paddsection align-items-center">
            <div class="container">
                <div class="contact-block1">
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="contact-contact text-center">
                                <h2 class="mb-30 ">GET IN TOUCH</h2>
                                <div class="arrow arrow::after mb-3"></div>
                                <a href="mailto:dorian.l.wallace@gmail.com" class="py-3 nav-btn btn-sm">Contact Me</a>
                                <!--<ul class="contact-details mt-5">-->
                                    <!--<li><span>Atlanta, Georgia</span></li>-->
                                    <!--<li><span>(817) 739-8569</span></li>-->
                                    <!--<li><span>dorian.l.wallace@gmail.com</span></li>-->
                                <!--</ul>-->
                            </div>
                        </div>
                        <!--<div class="col-lg-6 align-items-center">-->
                            <!--<h2>Feel free to message me with any questions</h2>-->
                                <!--<form method="post" id="contactform" name="contactform" class="contactForm clearfix" action="/send">-->
                                <!--<div class="row">-->
                                    <!--<div id="sendmessage">Your message has been sent. Thank you!</div>-->
                                    <!--<div id="errormessage"></div>-->
                                    <!--<div class="col-lg-6">-->
                                        <!--<div class="form-group contact-block1">-->
                                            <!--<input type="text" name="First Name" class="form-control" id="fname"-->
                                                   <!--placeholder="Your Name" data-rule="minlen:4"-->
                                                   <!--data-msg="Please enter at least 4 chars"/>-->
                                            <!--<div class="validation"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-6">-->
                                        <!--<div class="form-group">-->
                                            <!--<input type="email" class="form-control" name="email" id="email"-->
                                                   <!--placeholder="Your Email" data-rule="email"-->
                                                   <!--data-msg="Please enter a valid email"/>-->
                                            <!--<div class="validation"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-12">-->
                                        <!--<div class="form-group">-->
                                            <!--<input type="text" class="form-control" name="Last Name" id="lname"-->
                                                   <!--placeholder="Subject" data-rule="minlen:4"-->
                                                   <!--data-msg="Please enter at least 8 characters in the subject line"/>-->
                                            <!--<div class="validation"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-12">-->
                                        <!--<div class="form-group">-->
                                        <!--<textarea class="form-control" name="comments" id="comments" rows="12" data-rule="required"-->
                                                  <!--data-msg="Please enter your message" placeholder="Message"></textarea>-->
                                            <!--<div class="validation"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-12">-->
                                        <!--<input type="submit" id="submit" class="btn btn-default btn-send" value="Send message"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- end section contact -->
        <div th:replace="fragment/footer :: footer"></div>
</body>

</html>